.row {
    margin: 30px;
}

.card-section {
    width: 100%;
    margin-top: 100px;
    

    &__header {
        display: flex;
        justify-content: center;
    }

    &__cards {
        margin: 5% 15%;
    }

    &__card {
        border-radius: 6px;
        position: relative;
        overflow: hidden;
        max-height: 350px;
        margin-bottom: 2rem;
        transition: 0.3s;
        background-color: transparent;
        border: none;

        &:hover {
            transform: translateY(-10px);
            cursor: pointer;
        }
    }

    &__card-text {
        position: absolute;
        overflow: hidden;
        height: fit-content;
        margin: auto;
        margin-bottom: -8px;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        z-index: 100;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    &__card-text h1 {
        font-size: 2rem;
        font-weight: 900;
        font-family: 'Raleway', sans-serif;
        line-height: 1.6;
        margin: 0;
        text-align: left;
        text-shadow: 0 1px 0 black;
    }
}

.card-img-top {
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
    opacity: .6;

}