.header {
    position: relative;
    margin-top: 20px;
}

.siema {
    height: 65vh;
}

div > img {
    width: 50vw;
    height: 64vh;
}

.next-button {
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 50px;
}

.prev-button {
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 50px;
}