.footer {
  background-color: #f8f9fa!important;
  height: 40vh;
  font-family: 'BiaoKai';

  &__items {
    text-align: center;
  }

  &__contact {
  
  
  }

  &__contact-title {
    margin: 20px;
  }

  &__contact-title h2 {
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: solid 1px black;
  }

  &__contact-item {
    font-size: 30px;
    text-align: center;
  }
}

.weixin {
  color: #5CC928;
}

.line {
  color: #00c300;
}

.mobile {
  color: black;
}