.logo {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin-bottom: 10px;
    background: #00843D;
    height: 50px;
    z-index: 1000;
    top: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;

    &__links {
        position: relative;
        display: inline-block;
        align-items: center;
        color: #fff;
        outline: none;
        letter-spacing: .8px;
        font-weight: 400;
        font-size: .9em;
        margin: 15px 25px;
        font-family: 'Raleway';
        text-transform: uppercase;

        &:hover {
            color: #FFCD00;
            text-decoration: none;
        }

        &:hover:after {
            width: 100%;
        }

        &:after, &:before {
            transition: all .5s;
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: white;
            height: 1px;
        }
    }
}