  
.footer {
  background-color: #f8f9fa!important;
  height: 20vh;
  align-items: center;
}

.item {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.weixin {
  color: #5CC928;
}

.mobile {
  color: black;
}